header,
footer {
  background-color: #ee6e73;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}
.icon-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-icon {
  font-size: 25px;
  color: white;
  background-color: #ee6e73;
}
button {
  border: none;
}
button:hover {
  cursor: pointer;
}
.hidden {
  display: none;
}
.header-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
footer {
  position: absolute;
  bottom: 0;
  align-self: stretch;
  width: 100%;
}
.styled {
  color: white;
  text-decoration: none;
}
.styled:hover {
  cursor: pointer;
}
