#search-input {
  width: 400px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 20px;
}
#search-container .icon {
  font-size: 20px;
}
#search-container {
  padding-bottom: 30px;
  padding-top: 30px;
}
