.female {
  background-color: #ffebee;
}
.grid-layout {
  padding-top: 20px;
  display: flex;
  padding-bottom: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.image {
  border-radius: 50px;
  width: 80px;
}
.grid-userProfile {
  width: 25%;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  flex-wrap: wrap;
}
.grid-userProfile img {
  width: 100%;
  border-radius: 0;
}
.userInfo {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.bold {
  font-weight: 600;
}
.hidden {
  display: none;
}
